Django==1.4
django-bootstrap-form==2.0.3
django-registration==0.8
django-tagging==0.4.dev1
mercurial==1.7.5
mod-python==3.3.1
psycopg2==2.2.1
pyOpenSSL==0.10
pycrypto==2.1.0
pycups==1.9.54
pycurl==7.19.0
pyflakes==0.4.0
pyinotify==0.8.9
pyserial==2.5
pysmbc==1.0.10
pysqlite==1.0.1
python-apt==0.7.100.3ubuntu6.1
python-debian==0.1.18ubuntu2
python-virtkey==0.60.0
pyxdg==0.19
rdflib==3.1.0
requests==0.9.0
selenium==2.11.1
sessioninstaller==0.0.0
simplejson==2.1.2
stripe==1.6.0
virtualenv==1.6.4
wadllib==1.1.8
wsgi-intercept==0.4
wsgiref==0.1.2
