{% extends "playerPageNav.html" %}
{% load i18n %}
{% block content_span9 %}

{% if not_owner %}
<div class="alert alert-info">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  You are not the agent of this Player!</div>
{% else %}
{% for message,from,href,name in message_list %}
<div class="alert alert-information">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  <strong>From {{from}}</strong> <a href="{{href}}"> {{name}}</a>
  <BR/><BR>
  <strong>Title:  </strong>{{message.title}}
  <BR/><BR/>
  {{message.body}}
</div>
{% endfor %}
{% if have_older_messages %}
<a class="btn btn-primary"
   href="/player/{{player.id}}/viewMessages/{{older_message}}/">Older
  Messages</a>
{% endif %}
{% if have_new_messages %}
<a class="btn btn-primary pull-right"
   href="/player/{{player.id}}/viewMessages/{{newer_message}}/">Newer
  Messages</a>
{% endif %}
</div>
{% endif %}   
{% endblock %}
