{% extends "teamPageNav.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content_span9 %}

{% if alert_success %}
<div class="alert alert-success">
  <strong>Success!</strong> {{alert}}
</div>
{% endif %}
<form class="well" action="" method="post">{% csrf_token %}
  <fieldset>
   <legend>Change Tactics</legend>
   <h3>All Games</h3>
   <div class="row-fluid">
     <div class="span3">
       {{form.line1_time|bootstrap}}
     </div>
     <div class="span3">
       {{form.line2_time|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.line3_time|bootstrap}}
     </div>
     <div class="span3">
       {{form.line4_time|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.pairing1_time|bootstrap}}
     </div>
     <div class="span3">
       {{form.pairing2_time|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.pairing3_time|bootstrap}}
     </div>
   </div>
   <h3>Home Games Only</h3>
   <div class="row-fluid">
     <div class="span3">
       {{form.home_match_line1|bootstrap}}
     </div>
     <div class="span3">
       {{form.home_match_line2|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.home_match_line3|bootstrap}}
     </div>
     <div class="span3">
       {{form.home_match_line4|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.home_match_pp1|bootstrap}}
     </div>
     <div class="span3">
       {{form.home_match_pp2|bootstrap}}
     </div>
   </div>
   <div class="row-fluid">
     <div class="span3">
       {{form.home_match_pk1|bootstrap}}
     </div>
     <div class="span3">
       {{form.home_match_pk2|bootstrap}}
     </div>
   </div>
    <button type="submit" class="btn btn-primary">{% trans 'Save Changes' %}</button>
  </fieldset>
</form>
{% endblock %}
