{% extends "teamPageNav.html" %}
{% load i18n %}
{% block content_span9 %}

{% if not_owner %}
<div class="alert alert-info">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  You are not the agent of this Player!</div>
{% else %}
{% if sent %}
<a class="btn btn-primary pull-right"
   href="/team/{{team.id}}/viewMessages/received/10/">Go
  To Received Messages</a>
<h2> Sent Messages </h2>
{% else %}
<a class="btn btn-primary pull-right"
   href="/team/{{team.id}}/viewMessages/sent/10/">Go To Sent
  Messages</a> 
<h2> Received Messages </h2>
{% endif %}
{% for message,from,href,name in message_list %}
<div class="alert alert-information">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  <strong>
    {% if sent %}
    To
    {% else %}
    From
    {% endif %}
    {{from}}</strong> <a href="{{href}}"> {{name}}</a>
  <BR/><BR>
  <strong>Title:  </strong>{{message.title}}
  <BR/><BR/>
  {{message.body}}
</div>
{% endfor %}
{% if have_older_messages %}
 {% if sent %}
<a class="btn btn-primary"
   href="/team/{{team.id}}/viewMessages/sent/{{older_message}}/">Older
  Messages</a>
 {% else %}
<a class="btn btn-primary"
   href="/team/{{team.id}}/viewMessages/received/{{older_message}}/">Older
  Messages</a>
 {% endif %}
{% endif %}
{% if have_new_messages %}
 {% if sent %}
<a class="btn btn-primary"
   href="/team/{{team.id}}/viewMessages/sent/{{newer_message}}/">Newer
  Messages</a>
 {% else %}
<a class="btn btn-primary"
   href="/team/{{team.id}}/viewMessages/received/{{newer_message}}/">Newer
  Messages</a>
 {% endif %}
{% endif %}
</div>
{% endif %}   
{% endblock %}
