{% extends "playerPageNav.html" %}
{% load i18n %}
{% load league_tags %}
{% block content_span9 %}

{% if alert_success %}
<div class="alert alert-success">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  <strong>Success! </strong>{{alert_message}}
</div>
{% endif %}
{% if owner %}
 {% if can_upgrade %}
<div class="alert alert-success">
  <button class="close" data-dismiss="alert"
	  type="button">x</button>
  You have <strong>{{ player.upgrades }}</strong> upgrade points to spend!	
  <form class="well" action="upgradeSkill/" method="post">{% csrf_token %}
    <label>Click on the skill you wish to upgrade:</label>
    <div class="well" style="padding: 15px 20px;">
      <div class="btn-group">
	<button class="btn btn-primary" name="skill"
		value="shooting"> Shooting</button>
	<button class="btn btn-primary" name="skill"
		value="passing"> Passing</button> 
	<button class="btn btn-primary" name="skill"
		value="stick_handling">Stick Handling</button> 
	<button class="btn btn-primary" name="skill"
		value="skating"> Skating</button>
	<button class="btn btn-primary" name="skill"
		value="endurance"> Endurance</button> 
	<button class="btn btn-primary" name="skill"
		value="strength"> Strength</button> 
      </div>
      <BR/>
      <div class="btn-group">
	<button class="btn btn-primary" name="skill"
		value="checking"> Checking</button> 
	<button class="btn btn-primary" name="skill"
		value="positioning"> Positioning</button> 
	<button class="btn btn-primary" name="skill"
		value="awareness"> Awareness</button> 
	<button class="btn btn-primary" name="skill"
		value="faceoff"> Faceoffs</button> 
	<button class="btn btn-primary" name="skill"
		value="leadership"> Leadership</button> 
	<button class="btn btn-primary" name="skill"
		value="fighting"> Fighting</button>
      </div>
    </div>
  </form>
</div>
 {% endif %}
<div class="hero-unit">	      
  <center><h2>{{ player.position }} - {{ player.name }}</h2></center><BR/>
  <div class="row-fluid">
    <div class="span4">
      <center>
	Owner: <a href="{{player_owner.get_absolute_url}}">{{player_owner.user.username}}</a>
      </center>
    </div>
    <div class="span4">
      <center>
	Team: 
	{% if player.team_id == -1 %}
	Free Agent
	{% else %}
	<a href="{{team.get_absolute_url}}">{{team.name}}</a>
	{% endif %}
      </center>
    </div>
    {% if player.team_id != -1 %}
    <div class="span4">
      <center>
	League: <a href="{{league.get_absolute_url}}">{{league.name}}</a>
      </center>
    </div>
    {% endif %}
  </div>
  <BR/>
  <div class="row-fluid">
    <div class="span4">
      <center>
	Age: {{player.age}}
      </center>
    </div>
    <div class="span4">
      <center>
	Height: {{player.height|to_height}}
      </center>
    </div>
    <div class="span4">
      <center>
	Weight: {{player.weight}}
      </center>
    </div>
  </div>
	
</div>
<div class="row-fluid">
  <div class="span4 well">
    <center>
      <p>Shooting: {{player.shooting}}</p>  
      <p>Passing: {{player.passing}}</p>
      <p>Stick Handling: {{player.stick_handling}}</p>
      <p>Checking: {{player.checking}}</p>
      <p>Positioning: {{player.positioning}}</p>
      <p>Awareness: {{player.awareness}}</p>  
    </center>
  </div>
  <div class="span4 well">
    <center>
      <p>Strength: {{player.strength}}</p>
      <p>Endurance: {{player.endurance}}</p>
      <p>Skating: {{player.skating}}</p>
      <p>Faceoffs: {{player.faceoff}}</p>
      <p>Leadership: {{player.leadership}}</p>
      <p>Fighting: {{player.fighting}}</p>
    </center>
  </div>
  <div class="span4 well">
    <center>
      <p>Helmet: {{player.helmet}} </p>
      <p>Gloves:  {{player.gloves}}</p>
      <p>Pads:  {{player.shoulder_pads}}</p>
      <p>Pants:  {{player.pants}}</p>
      <p>Skates:  {{player.skates}}</p>
      <p>Stick:  {{player.stick}}</p>
    </center>
  </div>
</div>
{% endif %}   
{% endblock %}
