{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row-fluid">
  <div class="span2">
         <h2>{% trans 'All Players' %}</h2>
    <BR/>
    <div class="btn-group">
      <button class="btn btn-primary">
	{% trans 'Filter Position' %}</button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	{{ position }}
	<span class="caret"></span></button>
      <ul class="dropdown-menu">
	<li>
	  <a href="/allPlayers/L/25/">{% trans 'L' %}</a>
	</li>
	<li>
	  <a href="/allPlayers/C/25/">{% trans 'C' %}</a>
	</li>
	  <li>
	    <a href="/allPlayers/R/25/">{% trans 'R' %}</a>
	  </li>
	<li>
	  <a href="/allPlayers/D/25/">{% trans 'D' %}</a>
	</li>
	<li>
	  <a href="/allPlayers/G/25">{% trans 'G' %}</a>
	</li>
	<li>
	  <a href="/allPlayers/All/25">{% trans 'All' %}</a>
	</li>
      </ul>
    </div>
  </div>
  
  <div class="span9">
    <table class="table table-striped table-condensed">
      <thead>
	<tr>
	  <th><center>Position</center></th>
	  <th><center>Name</center></th>
	<th><center>Age</center></th>
	  <th><center>Level</center></th>
	  <th><center>Team</center></th>
	  <th><center>Select</center></th>
	</tr>
      </thead>
      <tbody>
	{% for player in all_player_list %}
	<tr>
	  <td><center>{{ player.position }}</center></td>
	  <td><center><a href="/player/{{player.id}}/">{{ player.name }}</a></center></td>
	  <td><center>{{ player.age }}</center></td>
	  <td><center>{{ player.level }}</center></td>
	  <td><center>
	      {% if player.free_agent %}
	      Free Agent
	      {% else %}
	      <a href="/team/{{player.team_id}}/">View Team</a>
	      {% endif %}
	  </center></td>
	  <td> 
	    <center>
	      <a class="btn btn-primary" href="/player/{{ player.id }}">View</a>
	    </center>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>  
	{% if have_previous %}
	<a class="btn btn-info"
	href="/allPlayers/{{position}}/{{previous_number}}/">Previous Players</a>
	{% endif %}
	{% if have_next %}
	<a class="btn btn-info pull-right"
	href="/allPlayers/{{position}}/{{next_number}}/">Next Players</a>
	{% endif %}

  </div>
</div>
{% endblock %}
