{% extends "base.html" %}
{% load i18n %}

{% block content %}
<html>
  <head>
    <title>Create Your Player</title>
  </head>
  <body>
    <center>
    <h3>Create Your Player!</h3>
    {% if error %}
        <p style="color:red;">Please make sure all fields are filled out.</p>
    {% endif %}
    <form action="/creatingPlayer/" method="post">{% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
      <BR>
      <label for="position">Position:</label>
      <select id="position" name="position">
	<option value="L">L</option>
	<option value="C">C</option>
	<option value="R">R</option>
	<option value="D">D</option>
	<option value="G">G</option>
      </select>
      <BR>
      <label for="height">Height:</label>
      <select id="height" name="height">
	<option value="66">5'6</option>
	<option value="67">5'7</option>
	<option value="68">5'8</option>
	<option value="69">5'9</option>
	<option value="70">5'10</option>
	<option value="71">5'11</option>
	<option value="72">6'0</option>
	<option value="73">6'1</option>
	<option value="74">6'2</option>
	<option value="75">6'3</option>
	<option value="76">6'4</option>
	<option value="77">6'5</option>
	<option value="78">6'6</option>
	<option value="79">6'7</option>
	<option value="80">6'8</option>
	<option value="81">6'9</option>
	<option value="82">6'10</option>
	<option value="83">6'11</option>
      </select>
      <BR>
      <label for="weight">Weight:</label>
      <select id="weight"name="weight">
	<option value="165">165</option>
	<option value="170">170</option>
	<option value="175">175</option>
	<option value="180">180</option>
	<option value="185">185</option>
	<option value="190">190</option>
	<option value="195">195</option>
	<option value="200">200</option>
	<option value="205">205</option>
	<option value="210">210</option>
	<option value="215">215</option>
	<option value="220">220</option>
	<option value="225">225</option>
	<option value="230">230</option>
	<option value="235">235</option>
	<option value="240">240</option>
	<option value="245">245</option>
	<option value="250">250</option>
	<option value="255">255</option>
	<option value="260">260</option>
	<option value="265">265</option>
      </select>
      <BR>
      <input type="submit" id="submit" name="submit" value="Create Player"/>
   </form>

</center>
</body>
</html>
{% endblock %}
