{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
    
<div class="row-fluid">
  <div class="span3"></div>
  <div class="span9">
    {% if form.errors %}
    {{ form.errors|bootstrap }}
    {% endif %}
    <form class="well" action ="" method="post">{% csrf_token %}
      <legend>{% trans 'Edit Lines' %}</legend>
      {{ form|bootstrap }}
      <button class="btn btn-primary" type="submit"> {% trans 'Edit Lines' %}</button>
    </form>
  </div>
</div>

{% endblock %}
