{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}

<div class="row-fluid">
  <div class="span3">
    <h2>{{ player.name }}</h2>	
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
	{% if can_manage %}
	<li class="nav-header">Manage Team</li>		
	<li>
	    <a href="/player/{{player.id}}/messagePlayer">Message Player</a>
	</li>
	<li>
	      <a href="/freeAgents/all/">View Free Agents</a>
	</li>
	{% endif %}
	<BR>
	<li>
	  <a href="/player/{{player.id}}/">View player</a>
	</li>
      </ul>
    </div>
  </div>
  <div class="span9">
  {% if not_valid %}
  <div class="alert">
    <button class="close" data-dismiss="alert">x</button>
    Unable to offer the contract! Make sure salary and length are integers and don't have commas!
  </div>
  {% endif %}
  {% if not_owner %}
    <div class="alert">
      <button class="close" data-dismiss="alert">x</button>
      You are not the agent of this Player!
    </div>
   {% else %}
    <form class="well" action="" method="post">{% csrf_token %}
      <fieldset>
	<legend>Offer Contract</legend>
	<div class="team">
	  <label for="team">Team</label>
	  <div class="input">
	    <select id="team" name="team">
	      {% for team in team_list %}
	      <option value='{{team.id}}'>{{team.name}}</option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
	{{ form|bootstrap }}
	<button type="submit" class="btn btn-primary">{% trans 'Offer Contract' %}</button>
      </fieldset>
    </form>
  </div>
  
  {% endif %}   
{% endblock %}
