{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% if can_manage %}
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
	<li class="nav-header">Manage Team</li>
	<li>
	  <a href="/team/{{team.id}}/editLines">Edit Lines</a>
	</li>
	<li>
	  <a href="/team/{{team.id}}/viewSchedule">View Schedule</a>
	</li>
	<li>
	  <a href="/team/{{team.id}}/tactics">Tactics</a>
	</li>
	<li>
	  <a href="/team/{{team.id}}/contracts">Contracts</a>
	</li>
	<li>
	  <a href="/team/{{team.id}}/messageTeam">Message Team</a>
	</li>
	<li>
	  <a href="/team/{{team.id}}/arena">Arena</a>
	</li>
	<li>
	  <a href="/freeAgents/all/">View Free Agents </a>
	</li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="span9">
    <div class="well">
      <div class="row-fluid">
	<div class="span4">
	  <h2>Left Wing</h2>
	  <ul class="unstyled">
	    <li><a href="/player/{{current_lines.8.id}}">{{current_lines.8.name}}</a></li>
	    <li><a href="/player/{{current_lines.9.id}}">{{current_lines.9.name}}</a></li>
	    <li><a href="/player/{{current_lines.10.id}}">{{current_lines.10.name}}</a></li>
	    <li><a href="/player/{{current_lines.11.id}}">{{current_lines.11.name}}</a></li>
	  </ul>
	</div>
	<div class="span4">
	  <h2>Center</h2>
	  <ul class="unstyled">
	    <li><a href="/player/{{current_lines.12.id}}">{{current_lines.12.name}}</a></li>
	    <li><a href="/player/{{current_lines.13.id}}">{{current_lines.13.name}}</a></li>
	    <li><a href="/player/{{current_lines.14.id}}">{{current_lines.14.name}}</a></li>
	    <li><a href="/player/{{current_lines.15.id}}">{{current_lines.15.name}}</a></li>
	  </ul>
	</div>
	<div class="span4">
	  <h2>Right Wing</h2>
	  <ul class="unstyled">
	    <li><a href="/player/{{current_lines.16.id}}">{{current_lines.16.name}}</a></li>
	    <li><a href="/player/{{current_lines.17.id}}">{{current_lines.17.name}}</a></li>
	    <li><a href="/player/{{current_lines.18.id}}">{{current_lines.18.name}}</a></li>
	    <li><a href="/player/{{current_lines.19.id}}">{{current_lines.19.name}}</a></li>
	  </ul>
	</div>
      </div>
      <div class="row-flud">
	<div class="span5"><center>
	    <h2>Left Defense</h2>
	    <ul class="unstyled">
	      <li><a href="/player/{{current_lines.2.id}}">{{current_lines.2.name}}</a></li>
	      <li><a href="/player/{{current_lines.4.id}}">{{current_lines.4.name}}</a></li>
	      <li><a href="/player/{{current_lines.6.id}}">{{current_lines.6.name}}</a></li>
	  </ul></center>
	</div>
	<div class="span4"><center>
	    <h2>Right Defense</h2>
	    <ul class="unstyled">
	      <li><a href="/player/{{current_lines.3.id}}">{{current_lines.3.name}}</a></li>
	      <li><a href="/player/{{current_lines.5.id}}">{{current_lines.5.name}}</a></li>
	      <li><a href="/player/{{current_lines.7.id}}">{{current_lines.7.name}}</a></li>
	  </ul></center>
	</div>
      </div>
      <div class="row-fluid">
	<div class="span4"></div>
	<div class="span4">
	  <h2>Goalie</h2>
	  <ul class="unstyled">
	    <li><a href="/player/{{current_lines.1.id}}">{{current_lines.1.name}}</a></li>
	    <li><a href="/player/{{current_lines.2.id}}">{{current_lines.2.name}}</a></li>
	  </ul>
	</div>
      </div>
    </div>
</body>
</html>

{% endblock %}
