{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#1A" data-toggle="tab">{{team.name}}</a>
	  </li>
	  <li class>
	    <a href="#1B" data-toggle="tab">Other</a>
	  </li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="1A">
	    <ul class="nav nav-list">	
	      {% if can_manage %}
	      <li>
		<a href="/team/{{team.id}}/editLines/">Edit Lines</a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/viewSchedule/">View Schedule</a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/tactics/">Tactics</a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/contracts/">Contracts</a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/messageTeam/">Message Team</a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/arena/">Arena</a>
	      </li>
	      <li>
		<a href="/freeAgents/all/25/">View Free Agents </a>
	      </li>
	      <li>
		<a href="/team/{{team.id}}/viewMessages/">View
		Messages</a>
	      </li>
	      {% else %}
	      <li>
		<a href="/team/{{team.id}}/messageTeamManagement/">Message
		{{team.name}}'s Management</a>
	      </li>
	      {% endif %}
	      
	    </ul>
	  </div>
	  <div class="tab-pane" id="1B">
	    <ul class="nav nav-list">	    
	      <li>
		<a href="/allPlayers/All/25/">All Players </a>
	      </li>
	      <li>
		<a href="/freeAgents/All/25/">Free Agents </a>
	      </li>	      
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="span9">
    {% block content_span9 %}
    
    {% endblock %}

  </div>
</div>
{% endblock %}  
